
<p-toast position="top-right"></p-toast>

<div class="container">
 <h3>Información de procesos</h3>
  
    <button pButton type="button" (click)="muestraDialog('subproceso')" label="SubProcesos"  class="p-button-success separacion" ></button>
    <button pButton type="button" (click)="muestraDialog('error')" label="Errores del proceso" class="p-button-success separacion"></button>
    <button pButton type="button" (click)="muestraDialog('log')" label="Logs del proceso" class="p-button-success separacion"></button>

</div>
 
